

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class = "card">
        <div class = "card-body card-positioning">
          <h1 class="text-center"><%= @restaurant.name %></h1>
          <p>Name: <%= @restaurant.address %></p>
          <p>Category:<%= @restaurant.category %></p>
          <p>Phone number: <%= @restaurant.phone_number %></p>
          <p><%= link_to restaurants_path do %>
            <i class="fas fa-undo"></i>
          <% end %>Go back to restaurants page</p>
          <p><%= link_to new_restaurant_review_path(@restaurant) do %>
            <i class="fas fa-pen-square"></i></i>
            <% end %>Write a review</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-12">
      <div class = "card-deck">
        <%  @restaurant.reviews.each do |review|  %>
          <div class = "card">
            <div class= "card-body card-positioning">
              <p>Rating: <%= "*" *review.rating  %>  </p>
              <p>Description: <%= review.content %> </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

